name: Publish to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Typst
        uses: typst-community/setup-typst@v3
        with:
          typst-version: latest
      - name: Link local package
        run: |
          version=$(grep -E "^version\s*=" "typst.toml" | cut -d '"' -f 2)
          target_dir=~/.local/share/typst/packages/preview/tvcg-journal/$version
          mkdir -p $(dirname "$target_dir")
          ln -s $(pwd) "$target_dir"
          echo "Created symlink for tvcg-journal version $version at $target_dir"
      - name: Create artifact directory
        run: mkdir -p _site
      - name: Compile to PDF
        run: typst compile template/main.typ _site/main.pdf --root template/
      - name: Compile to HTML
        run: typst compile template/main.typ _site/main.html --root template/ --features html
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
